.navContainer {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 16px;
  box-shadow: 0px 1px 10px #20499127;
  z-index: 10;
}

.icon {
  width: 40px;
  margin: 0 16px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 72px);
}

.navRight, .navLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.navRight > a, 
.navLeft > a,
.navTop > a,
.navBottom > a {
  text-decoration: none;
  font-size: 20px;
  color: #202020;
  padding: 8px 16px;
  border-radius: 25px;
}

.navRight > a:hover, 
.navLeft > a:hover,
.navTop > a:hover,
.navBottom > a:hover {
  color: #3d74d4;
  background-color: #ececec;
}

.navRight > a:active,
.navLeft > a:active,
.navTop > a:active,
.navBottom > a:active  {
  transform: scale(0.95);
  background-color: #e6e6e6;
}

.navBottom > :last-child {
  color: #3d74d4;
  background-color: #ececec;
}

.navBottom > :last-child:hover {
  background-color: #dcdcdc;
}

.dropdown {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
}

.dropdownButton, .closeButton {
  z-index: 2;
  background: none;
  border: none;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  font-size: 32px;
  color: #4f4f4f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  font-size: 24px;
}

.dropdownButton:hover,
.closeButton:hover {
  cursor: pointer;
  background-color: #ececec;
}

.dropdownNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 8px;
  padding: 32px;
  padding-top: 60px;
  background-color: white;
  box-shadow: 0px 1px 10px #20499127;
  border-left: 1px solid #344f7d39;
  border-bottom: 1px solid #344f7d39;
  border-radius: 4px;
}

.navTop, .navBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}